#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App h1 {
  margin-top: 0;
}

.score-board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 1px solid gray;
  padding: 0 2rem;
  border-radius: .25rem;
}

.remaninin-time-container {
  flex: 1;
  /* Take up all available space in the flex container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid gray;
  padding-right: 2rem;
}

.restart-container {}

.restart-container button {
  height: 10rem;
  width: 10rem;
}

.scores-container {
  border-left: 1px solid gray;
  padding-left: 2rem;
}

.score,
.high-score {
  display: flex;
  align-items: center;
}

.score h3 {
  text-align: left;
}

.score p {
  margin-left: 1rem;
}

.high-score p {
  margin-left: 1rem;
}

.color-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;

  border-top: 4px solid gray;
  background-color: #FEEED8;

  color: #393d3f;

  height: 20rem;
}

.color-selection-container {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid gray;
  margin-top: 1rem;
  align-items: center;
  border-radius: .25rem;
  /* width: fit-content; */
}

.color1, .color2 {
  border-right: 1px solid gray;
  padding-right: 4rem;
}


.color3 {
  /* border-left: 1px solid gray; */
}